p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

highlight {
  background-color: #FFFF00;
}

myCode {
font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: .85em;
   overflow-y: auto;
   background-color: #FFFF00;
}

div.myPoint {
  font-size: 20px;
  padding: 0.1in;
  background-color: #FEE8FB; 
  text-align: center;
}